:root {
  margin: auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  /* background-color: #ff0000ea; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

.container {
  display: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}
  
h1 {
  margin-bottom: 10px;
} */

/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.start-button {
  font-size:40px;
  padding: 30px 60px;
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}
button:hover {
  border-color: #1026e6;
}

.start-button:hover {
  background-color: rgb(60, 119, 63);
}

.game-title {
  font-size: 80px; /* Możesz dostosować rozmiar tekstu według potrzeb */
  margin-bottom: 80px; /* Opcjonalne dostosowanie marginesu poniżej tytułu */
}
/* Dodaj odpowiednie klasy dla przycisków */
.buttonSelectionGame {
  width: 500px;
  height: 90px;
  font-size: 42px;
  margin-bottom: 15px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  /* background-color: rgb(26, 24, 24); */
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}
.buttonSelectionGame:hover {
  background-color: rgb(60, 119, 63);
}

/* Dodaj styl dla kontenera z wyborem gier */
.game-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom:auto;
  margin-right: auto;
}

.welcome-text span{
  text-align: center;
  font-size: 54px;
  font-family: 'Arial', sans-serif;
  margin-top:auto; /* Dostosuj margines według potrzeb */
  color: rgb(37, 153, 104);
}

.bounce-letter {
  display: inline-block;
  transform-origin: bottom;
  animation: bounceAnimation 0.5s ease-out alternate infinite;
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.select-game {
  font-size: 44px;
  font-family: 'Arial', sans-serif;
  margin-top: 10px; /* Dostosuj margines według potrzeb */
  height: 90px;
  width: 500px;
  color: rgb(161, 95, 95);
}
.paragraphOne {
  padding: 30px 20px;
  background-color: rgba(111, 126, 111, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 80px;
  border-style: double;
  font-size: 25px;
  font-family: 'Apple Chancery', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-language-override: 'pl';
}

.gameSettings {
  font-size: 24px;
  font-family: 'Apple Chancery', cursive;
  font-style: italic;
  margin-top: 0px; /* Dostosuj margines według potrzeb */
  justify-content: center;
  align-items: center;
  height: 100%; /* Wysokość na całą wysokość ekranu */
}
.buttonSelectionScennario {
  width: 1000px;
  height: 100px;
  top: 100px;
  margin-bottom: 20px;
  border-radius: 40px;
  color: white;
  font-size: 25px;
  font-family: FreeMono, monospace;
  background-color: rgb(26, 24, 24,0.8);
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.buttonSelectionScennario:hover {
  background-color: rgb(60, 119, 63);
}

.EnzoandNova {
  background-image: url('/public/image/EnzoandNovaIntro.jpeg');
  border-radius: 40px;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.SuperTommy {
  background-image: url('public/image/SuperTommyIntro.jpeg');
  border-radius: 40px;
  background-size: 100% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
}

.SuperTommysc1 {
  background-color: red;
  background-size: cover;
}

.SuperTommysc2 {
  background-color: green;
}

.SuperTommypart1_1 {
  background-color: blue;
}

/* Dla Enzo and Nova */
.EnzoandNovasc1 {
  background-color: violet;
}

.EnzoandNovasc2 {
  background-color: pink;
}

.EnzoandNovapart1_1 {
  background-color: blue;
}