#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This makes the container take the full height of the viewport */
}
h1 {
  margin-bottomOne: 10px; /* Add space below the heading */
}

/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

buttonOne {
  font-size:40px;
  padding: 30px 60px;
  border: none;
  border-radius: 40px;
  background-color: rgb(26, 24, 24);
  color: white;
  cursor: pointer;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

buttonOne:hover {
  background-color: rgb(60, 119, 63);
}

.game-title {
  font-size: 80px; /* Możesz dostosować rozmiar tekstu według potrzeb */
  margin-bottom: 80px; /* Opcjonalne dostosowanie marginesu poniżej tytułu */
}


